.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}
.title-content h1 {
  font-size: 30px;
  color: #5b68b3;
  font-weight: bold;
}

.fields-content {
  display: flex;
  flex-direction: column;
}

.fields-content ul li {
  list-style: none;
  margin: 10px;
}

button {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #5b68b3;
  padding: 10px;
  border-radius: 7px;
  width: 120px;
  margin: auto;
}

.dontHaveAccount {
  padding: 10px;
}
