<form>
  <div class="container">
    <div class="title-content">
      <h1>Login</h1>
    </div>
    <div class="fields-content">
      <ul>
        <li><app-input-default type="email" placeholder="Email"></app-input-default></li>
        <li><app-input-default type="password" placeholder="Password"></app-input-default></li>
      </ul>
      <button type="submit">Login</button>
    </div>
    <div class="dontHaveAccount">
      <p>Don't have account? <a href="">Create account</a> </p>
    </div>

  </div>
</form>
