<form>
  <div class="container">
    <div class="title-content">
      <h1>Sign</h1>
    </div>
    <div class="fields-content">
      <ul>
        <li><app-input-default type="text" placeholder="User name"></app-input-default></li>
        <li><app-input-default type="email" placeholder="Email"></app-input-default> </li>
        <li><app-input-default type="password" placeholder="Password"></app-input-default></li>
        <li><app-input-default type="password" placeholder="Confirm placeholder"></app-input-default></li>
      </ul>
      <button (click)="onClick">Sign Up</button>
    </div>
  </div>
</form>
